body {
  font-family: "Ubuntu", "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #787878;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  min-width: 325px;
}

a {
  color: #e95420;
  text-decoration: none;
  background-color: transparent;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a:hover,
a:focus {
  color: #ac3911;
  text-decoration: underline;
}

/* override bootstrap */
a:not([href]) {
  cursor: pointer;
  color: #e95420;
}
a:not([href]):hover,
a:not([href]):focus {
  color: #ac3911;
  text-decoration: underline;
}

.donate-link {
  cursor: pointer;
  color: #787878;
}
.donate-link:hover,
.donate-link:focus {
  color: #e95420;
}

.layout {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.brand-image {
  height: 1.5em;
  width: auto;
  display: inline-block;
}

.home-link {
  font-size: x-large;
  font-weight: 500;
}

.nav__link {
  margin-left: 20px;
}

.footer {
  background-color: #f8f8f8;
  width: 100%;
  color: #777;
  padding: 1em;
  margin-top: 1.5em;
}

.footer h6 {
  color: black;
  font-weight: bold;
}

table {
  margin-bottom: 0;
}

.index-header {
  background-image: url("/ubuntu-touch-devices-wide.jpg") !important;
  background-color: white !important;
  border-radius: calc(0.25rem - 1px) !important;
}

.index-header > h1 {
  margin: 16vh auto 4vh auto !important;
  padding: 0.3em 0.6em;
  background-color: rgba(0, 0, 0, 0.6);
}

.card {
  margin-bottom: 30px;
}

.card-header {
  background-color: #e95420;
  background-image: url("/desert.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.card-body > p {
  margin-bottom: 0;
}

.v--modal .card {
  border: grey;
}

.card-header h1,
.card-header h2,
.card-header h3,
.card-header h4,
.card-header h5,
.card-header h6 {
  margin-bottom: 0;
}

.devicecol > .card,
.devicecol > img {
  margin-bottom: 1em;
}

/* Support for responsive iframes */
.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56% /* The height of the item will now be 56% of the width. */;
}

/* More support for responsive iframes */
.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

button {
  background-color: #e95420;
  background-image: url("/desert.jpg");
  background-size: cover;
  color: white;
  padding: 1em 3em;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar {
  background-color: #e95420;
  background-image: url("/desert.jpg");
  background-size: cover;
}

.progress {
  background-color: #77216f;
  position: relative;
  top: 0.3em;
}

@media only screen and (max-width: 600px) {
  .optional-600 {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .optional-400 {
    display: none;
  }
}

.donation-options > * {
  margin: 0.25em 1em;
}

.navbar {
  background: #fff;
  padding-bottom: 1em;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 0;
  color: #777 !important;
  font-weight: bold;
}

modal {
  display: none;
}

.markdown table {
  display: block;
  width: 100%;
  overflow: auto;
}

.markdown table th {
  font-weight: 600;
}

.markdown table td,
.markdown table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.markdown table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.markdown table tr:nth-child(2n) {
  background-color: #f6f8fa;
}
