<template>
  <Layout>
    <div class="card">
      <div class="card-header"><h1>Error 404</h1></div>
      <div class="card-body">
        <p>
          Sorry, we're not sure what you're looking for... But look, here's a
          cool video!
        </p>

        <div class="row">
          <div class="col-md-12">
            <div class="aspect-ratio">
              <iframe
                width="854"
                height="480"
                src="https://www.youtube.com/embed/1sPtRdZlEu4"
                frameborder="0"
                allowfullscreen
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>

<script>
import axios from "axios";

export default {
  metaInfo: {
    title: "Error 404"
  },
  async mounted() {
    // parse urls like /installer/<package name> for compatibility
    let maybePackage = window.location.href
      .replace(/\/+$/, "")
      .split("/")
      .pop()
      .toLowerCase();
    if (maybePackage === "appimage")
      window.location.href = "/installer?package=appimage";
    else if (maybePackage === "deb")
      window.location.href = "/installer?package=deb";
    else if (["snap", "linux"].includes(maybePackage))
      window.location.href = "https://snapcraft.io/ubports-installer";
    else if (["windows", "win", "microsoft", "exe"].includes(maybePackage))
      window.location.href = "/installer?package=exe";
    else if (["macos", "mac", "apple", "dmg"].includes(maybePackage))
      window.location.href = "/installer?package=dmg";
  }
};
</script>
